<p>skills works!</p>

<mat-accordion class="example-headers-align">

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon>account_circle</mat-icon>
        <div style="padding-left: 10px">Personal data</div>
      </mat-panel-title>
    </mat-expansion-panel-header>
    This the expansion 1 content
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon>account_circle</mat-icon>
        <div style="padding-left: 10px">Personal data</div>
      </mat-panel-title>
    </mat-expansion-panel-header>
    This the expansion 2 content
  </mat-expansion-panel>

</mat-accordion>
